@model List<ALibrary.Models.Category>

<!-- Main website navigation-->
<nav id="navigation-box">
    <!-- Toggle for mobile menu mode -->
    <a href="#" id="navigation-toggle">
        <span class="menu-icon">
            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                <span class="lines"></span>
            </span>
        </span>
    </a>

    <!-- Link navigation -->
    <ul id="navigation">
        @foreach (var category in Model)
        {
            if (category != null)
            {
                <li>
                    <span class="sub-nav-toggle plus"></span>
                    @Html.ActionLink(category.Name, "Index", "Category", new { category = category.Slug }, null)
                    <ul>
                        @if (category.Subcategories != null)
                        {
                            foreach (var subcategory in category.Subcategories)
                            {
                                <li class="menu__nav-item">@Html.ActionLink(subcategory.Name, "Subcategory", "Category", new { category = category.Slug, subcategory = subcategory.Slug }, null)</li>
                            }
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</nav>